// See: https://sass-lang.com/

body {
  background-color: whitesmoke;

  h1 {
    color: #244751;
  }
}

nav {
  background-color:#00FFFF;
  height: 5em;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav div h3{
  font-style: initial;
  font-weight: 800;
  font-size: 44;
  font-family: 'Damion', cursive;
  color: black;
  margin: 1em;
}
.navButton{
  margin: 1.5em;
}
.navButton button{
  border: none;
  height: 2.5em;
  width: auto;
  font-family: 'Damion', cursive;
  font-size: 30;
  border-radius: 0.25em;
  background-color: #00FFFF;
  border-width: thin

}

.navButton .createPoll{
  font-size: 12;
  height: 2.25em;
  width: 2.25em;
  background-color: whitesmoke;
}

button:focus{
  outline: none;
}

#chartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content:space-around;
  flex-wrap: wrap;
}

.graph{
  margin:1em 0 1em;
}
.canvasjs-chart-canvas {
  border: 2px solid blue;
}


.newPollForm{
  border:solid;
  border-radius: 2em;
  border-color: transparent;
  margin:auto;
  margin-top: 3em;
  margin-bottom: 3em;
  width:70%;
  background-color: #00FFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.newPollForm h3{
  margin-top: 1em;
  font-family: 'Damion', cursive;
  color: black;
  font-size: 42;
  font-weight: 1200;
}
.newPollForm div {
  margin: 0.5em;
  display:flex;
  flex-direction: row;
}

#name_required{
  margin:0.5em;
}
#email-input{
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.newPollForm .options{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
}
.newPollForm .options div {
  display:flex;
  flex-direction: column;
  border-bottom: black;
  border: solid;
}
.newPollForm .options div div{
  border:none;
}

label{
  margin-right: 0.5em;
  font-family: 'Open Sans', sans-serif;
  font-size: 2vw;
}

.newPollForm button {
  margin-bottom: 2em;
}
button.addNewOption{
  border: none;
  border-radius: 1em;
  font-size: 12;
  height: 2.25em;
  width: 2.25em;
  background-color: whitesmoke;
  margin-bottom:none;
}

